.cards-view {
  padding: 16px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.cards {
  cursor: pointer;
}

.card {
  padding: 50px 100px;
  margin: auto;
  font-size: 100px;
  font-size: 15vmax;
}

.card-content {
  margin: auto;
  user-select: none;
}

.card-actions {
  text-align: center;
  font-size: 2vw;
}

.card-action-buttons {
  margin: 36px;
  text-align: center;
  user-select: none;
}

.card-action-icon {
  font-size: 10vw;
}

.card-action-buttons button {
  margin: 20px;
  cursor: pointer;
}

.card-action-button:hover {
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}
