<div class="cards-view">
  <div class="cards" *ngIf="shuffledCards && cardIndex < shuffledCards.length" (click)="onClick()">
    <mat-card class="card">
      <div class="card-content">
        {{shuffledCards[cardIndex]}}
      </div>
    </mat-card>
  </div>
  <div class="card-actions" *ngIf="shuffledCards && cardIndex >= shuffledCards.length">
    <div [style.background-color]="category.backgroundColor" [style.color]="category.fontColor">
      <h1>{{category.name}}</h1>
    </div>
    <div [style.background-color]="stack.backgroundColor || category.backgroundColor" [style.color]="stack.fontColor || category.fontColor">
      <h1>{{stack.name}}</h1>
    </div>
    <div class="card-action-buttons">
      <button class="card-action-button" (click)="goBack()" title="Back">
        <i class="card-action-icon material-icons md-light">arrow_back</i>
      </button>
      <button class="card-action-button" (click)="replay()" title="Replay">
        <i class="card-action-icon material-icons md-light">replay</i>
      </button>
      <button class="card-action-button" (click)="editStack()" title="Edit">
        <i class="card-action-icon material-icons md-light">edit</i>
      </button>
    </div>
  </div>
</div>
