<ul class="categories">
  <li *ngFor="let category of categories">
    <h3 [style.background-color]="category.backgroundColor" [style.color]="category.fontColor">{{category.name}}
      <button mat-button class="edit" (click)="editCategory(category); $event.stopPropagation();" title="Edit">
        <i class="material-icons">color_lens</i>
      </button>
      <button class="action-button add" (click)="addStack(category);" title="Add new stack">
          <i class="material-icons md-light">add</i>
        </button>
    </h3>
  </li>
  <li class="category">
    <input id="newCategory" #newCategory (keydown.enter)="addCategory(newCategory.value); $event.stopPropagation();"/>
    <button class="action-button add" (click)="addCategory(newCategory.value);">
      <i class="material-icons md-light">add</i>
    </button>
  </li>
</ul>
