<div class="categoryDetail" *ngIf='unsavedCategory'>
  <div class="action-buttons">
    <button class="action-button" (click)="goBack()" title="Back">
      <i class="action-icon material-icons md-light">arrow_back</i>
    </button>
    <button class="action-button" [disabled]="!isDirty" (click)="save(false)" title="Save">
      <i class="action-icon material-icons md-light">save</i>
    </button>
  </div>

  <div class="categoryContent">
    <div class="name" title="Edit category name">
      <h2 *ngIf="!isEditingName" (click)="editName();">{{ unsavedCategory.name }}</h2>
      <input *ngIf="isEditingName" [(ngModel)]="unsavedCategory.name" placeholder="Name" (blur)="updateName()" (keydown.enter)="updateName();"
        (input)="isDirty=true;" appAutofocus>
    </div>
    <div class="color">
      Background Color:
      <select name="background-color-dropdown" [style.background-color]="savedCategory.backgroundColor" [(ngModel)]="backgroundColorKey"
        (change)="selectBackgroundColor($event);">
        <option *ngFor="let key of colorKeys" [value]="key" [style.background-color]="colors[key]">
          {{colors[key]}}
        </option>
      </select>
    </div>
    <div class="color">
      Font Color:
      <select name="font-color-dropdown" [style.color]="savedCategory.fontColor" [style.background-color]="unsavedCategory.backgroundColor"
        [(ngModel)]="fontColorKey" (change)="selectFontColor($event);">
        <option *ngFor="let key of colorKeys" [value]="key" [style.color]="colors[key]" [style.background-color]="unsavedCategory.backgroundColor">
          {{colors[key]}}
        </option>
      </select>
    </div>
  </div>
  <div class="sample">
    <div class="stack">
      <!-- TODO: ADD SAMPLE STACK -->
    </div>
  </div>
  <div class="">
      <div class="stack">
        <!-- TODO: ADD SAMPLE STACK -->
      </div>
    </div>
</div>
