<ul class="categories">
  <li *ngFor="let category of categories">
    <span class="category" [style.background-color]="category.defaultBackgroundColor" [style.color]="category.defaultFontColor">
      {{category.name}}
    </span>
    <span mat-button class="action-button edit" (click)="editCategory(category); $event.stopPropagation();" title="Edit">
      <i class="material-icons">edit</i>
    </span>
    <span class="action-button add" (click)="addStack(category);" title="Add new stack">
      <i class="material-icons md-light">add</i>
    </span>
  </li>
  <li>
    <input class="newCategory category" #newCategory (keydown.enter)="addCategory(newCategory.value); $event.stopPropagation();" />
    <span class="action-button add" (click)="addCategory(newCategory.value);">
      <i class="material-icons md-light">add</i>
    </span>
  </li>
</ul>
