<div class="categoryDetail" *ngIf='unsavedCategory'>
  <div class="action-buttons">
    <button class="action-button" (click)="goBack()" title="Back">
      <i class="action-icon material-icons md-light">arrow_back</i>
    </button>
    <button class="action-button" [disabled]="!isDirty" (click)="save(false)" title="Save">
      <i class="action-icon material-icons md-light">save</i>
    </button>
  </div>

  <div class="categoryContent">
    <div class="name" title="Edit category name">
      <h2 *ngIf="!isEditingName" (click)="editName();">{{ unsavedCategory.name }}</h2>
      <input *ngIf="isEditingName" [(ngModel)]="unsavedCategory.name" placeholder="Name" (blur)="updateName()" (keydown.enter)="updateName();"
        (input)="isDirty=true;" appAutofocus>
    </div>
    <div>
      <app-stack-display-colors [categoryName]="unsavedCategory.name" [(backgroundColor)]="unsavedCategory.defaultBackgroundColor" [(fontColor)]="unsavedCategory.defaultFontColor"
        (eitherColorChange)="isDirty = true;"></app-stack-display-colors>
    </div>
  </div>
