.fill-remaining-space {
  flex: 1 1 auto;
}

.app-background {
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow:hidden;
  display: flex;
  flex-direction: column;
}

.app-body{
  background-color: black;
  color: white;
  padding: 16px;
  overflow: auto;
  box-sizing: border-box;
  flex: 1;
}
