<div class="app-background mat-app-background">
  <mat-toolbar color="primary">
    <span class="main-buttons">
      <button>
        <a routerLink='/stacks' title="Home">
          <i class="material-icons md-light">home</i>
        </a>
      </button>
      <button>
        <a routerLink='/settings' title="Settings">
          <i class="material-icons md-light">settings</i>
        </a>
      </button>
    </span>
    <span class="title">
      <!--h1>
        TODO: FIGURE OUT IF THERE'S A WAY TO GET STACK TITLE HERE.
        {{title}}
      </h1-->
    </span>
    <span class="search-button">
      <button>
        <a routerLink='/search' title="Search">
          <i class="material-icons md-light">search</i>
        </a>
      </button>
    </span>
  </mat-toolbar>
  <div class="app-body">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="loading" class="loading-overlay">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
