.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-toolbar-row {
  justify-content: space-between;
}

.app-background {
  padding: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow:hidden;
  display: flex;
  flex-direction: column;
}

.app-body{
  background-color: black;
  color: white;
  padding: 16px;
  overflow: auto;
  flex: 1;
}

.main-buttons {
  margin-right: auto;
}

.search-button {
margin-left: auto;
}
