<div>
  <div class="cards" *ngIf="cards" (click)="onClick()">
    <mat-card class="card">
      <div class="card-content">
        {{cards[cardIndex]}}
      </div>
    </mat-card>
  </div>
  <br>
  <button *ngIf="cards && cardIndex >= cards.length" (click)="goBack()" title="Back">
    <i class="material-icons md-light">arrow_back</i>
  </button>
  <button *ngIf="cards && cardIndex >= cards.length" (click)="replay()" title="Replay">
    <i class="material-icons md-light">replay</i>
  </button>
</div>
