<div *ngIf='unsavedStack'>
  <div class="title">
    <h2 *ngIf="!isEdit" (click)="editTitle();">{{ unsavedStack.title }}</h2>
    <input *ngIf="isEdit" [(ngModel)]="unsavedStack.title" placeholder="Title" (blur)="updateTitle()" (keydown.enter)="updateTitle();" appAutofocus>
  </div>
  <div class="cards">
    <ul class="cards-list">
      <li class="card" *ngFor="let card of unsavedStack.cards" (click)="onSelect(card)">
        {{ card }}
        <button class="action-button" (click)="deleteCard(card); $event.stopPropagation()" title="Delete card">
          <i class="material-icons md-light">delete</i>
        </button>
      </li>
      <li class="card">
        <input id="cardContent" #cardContent (keydown.enter)="addCard(cardContent.value);" (blur)="addCard(cardContent.value);" />
      </li>
    </ul>
  </div>
  <div class="action-buttons">
    <button class="action-button" (click)="goBack()" title="Back">
      <i class="material-icons md-light">arrow_back</i>
    </button>
    <button class="action-button" [disabled]="!isDirty" (click)="save(true)" title="Save">
      <i class="material-icons md-light">save</i>
    </button>
    <button class="action-button" (click)="deleteStack(); $event.stopPropagation()" title="Delete stack">
      <i class="material-icons md-light">delete</i>
    </button>
    <button class="action-button" (click)="play()" title="Play">
      <i class="material-icons md-light">play_circle_outline</i>
    </button>
  </div>
</div>
