<div *ngIf='stack'>
  <h2>
    {{ stack.title }}
    <button (click)="play()" title="Play">
      <i class="material-icons md-light">play_circle_outline</i>
    </button>
  </h2>

  <div>
    <label>Title: </label>
    <input [(ngModel)]="stack.title" placeholder="Title">
  </div>

  <ul class="cards">
    <li *ngFor="let card of stack.cards" (click)="onSelect(card)">
      {{ card }}
      <button class="delete" (click)="deleteCard(card); $event.stopPropagation()" title="Delete">
        <i class="material-icons md-light">delete</i>
      </button>
    </li>
    <li>
      <input #cardContent />
      <button (click)="addCard(cardContent.value); cardContent.value=''" title="Add">
        <i class="material-icons md-light">add_circle_outline</i>
      </button>
    </li>
  </ul>
  <button (click)="goBack()" title="Back">
    <i class="material-icons md-light">arrow_back</i>
  </button>
  <button (click)="save(true)" title="Save">
    <i class="material-icons md-light">save</i>
  </button>
</div>
