
.title {
  border: 2px solid steelblue;

  margin: 16px;
  font-size: 2.5em;
}

.title:hover {
  color: #7b1fa2;
}

.title input{
  font-size: 1em;
}

.cards {
  border: 2px solid rosybrown;

  margin: 16px;
  font-size: 1.5em;
}

.cards input{
  font-size: 1em;
}

.cards-list {
  list-style-type: square;
}

.card {
  padding: 8px;

}

.action-buttons {
  border: 2px solid khaki;

  margin: 16px;
}

.action-button:hover {
  cursor: pointer;
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}
