.container-background {
  border: solid 2px cyan;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.container {
  border: solid 2px greenyellow;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  margin: 0 auto;
}

.container > .item {
  border: solid 2px red;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 10em;
  text-align: center;
  margin: auto;
  margin: 5px;
}

.add-stack {
  align-self: stretch;
}

mat-card > mat-card-actions {
  position: absolute;
  bottom: 0;
  right: 0px;
}

mat-card > mat-card-actions:last-child {
  margin-bottom: inherit;
  padding-bottom: inherit;
  padding: 8px;
  margin: 0;
}
