<div *ngIf='stack'>
  <h2>
    {{ stack.title }}
    <button (click)="play()" title="Play">
      <i class="fa fa-play"></i>
    </button>
  </h2>

  <div>
    <label>Title: </label>
    <input [(ngModel)]="stack.title" placeholder="Title">
  </div>

  <ul class="cards">
    <li *ngFor="let card of stack.cards" (click)="onSelect(card)">
      {{ card }}
      <button class="delete" (click)="deleteCard(card); $event.stopPropagation()" title="Delete">
        <i class="fa fa-trash"></i>
      </button>
    </li>
    <li>
      <input #cardContent />
      <button (click)="addCard(cardContent.value); cardContent.value=''" title="Add">
        <i class="fa fa-plus"></i>
      </button>
    </li>
  </ul>
  <button (click)="goBack()" title="Back">
    <i class="fa fa-arrow-left"></i>
  </button>
  <button (click)="save()" title="Save">
    <i class="fa fa-save"></i>
  </button>
</div>
