<div class="container">
  <mat-card class="stack item add-stack" title="Add new stack" (click)="addStack()">
    <div class="content add-button">
      <i class="material-icons md-light">add</i>
    </div>
  </mat-card>
  <mat-card *ngFor="let stack of stacks" class="stack item" (click)="onSelect(stack)" [style.order]="stack.order" [style.background]="stack.color"
    title="{{ stack.cards }}">
    <div class="play-button">
      <i class="material-icons dp48">play_circle_outline</i>
    </div>
    <div class="content">{{stack.title}}</div>
    <mat-card-actions>
      <button mat-button class="edit" (click)="editStack(stack); $event.stopPropagation()" title="Edit">
        <i class="material-icons">edit</i>
      </button>
      <!--button mat-button class="delete" (click)="deleteStack(stack); $event.stopPropagation()" title="Delete">
        <i class="material-icons md-light">delete</i>
      </button-->
    </mat-card-actions>
  </mat-card>
</div>
