<div class="stackDetail" *ngIf='displayStack'>
  <!-- TODO: MOVE TO HEADER? -->
  <div class="action-buttons">
    <button class="action-button" (click)="goBack()" title="Back">
      <i class="action-icon material-icons md-light">arrow_back</i>
    </button>
    <button class="action-button" [disabled]="!isDirty" (click)="saveStack(false);" title="Save">
      <i class="action-icon material-icons md-light">save</i>
    </button>
    <button class="action-button" (click)="deleteStack(); $event.stopPropagation()" title="Delete stack">
      <i class="action-icon material-icons md-light">delete</i>
    </button>
    <button class="action-button" (click)="play()" title="Play">
      <i class="action-icon material-icons md-light">play_circle_outline</i>
    </button>
  </div>

  <!-- TODO: PUT CARDS AND STACK DETAILS IN TABS  -->
  <div class="stackContent">
    <div class="name" title="Edit stack name">
      <h2 *ngIf="!isEditingName" (click)="editName();">{{ displayStack.name }}</h2>
      <input *ngIf="isEditingName" [(ngModel)]="displayStack.name" placeholder="Name" (blur)="updateName()" (keydown.enter)="updateName();"
        (input)="isDirty=true;" appAutofocus>
    </div>

    <div class="cards">
      <ol class="cards-list">
        <li class="card" *ngFor="let card of displayStack.cards; let i=index; trackBy: trackByIndex">
          <input [(ngModel)]="displayStack.cards[i]" placeholder="card" (input)="editCard(card)">
          <span class="action-button" (click)="deleteCard(card); $event.stopPropagation()" title="Remove word">
            <i class="material-icons md-light">delete</i>
          </span>
        </li>
        <li class="card">
          <input id="newCardContent" #newCardContent (keydown.enter)="addCard(newCardContent.value);" (blur)="addCard(newCardContent.value);"
          />
          <span class="action-button" (click)="addCard(newCardContent.value);">
            <i class="material-icons md-light">add</i>
          </span>
        </li>
      </ol>
    </div>

    <div class="category">
      <h2>Category</h2>
      <select name="category-dropdown" [style.color]="category.defaultFontColor" [style.background-color]="category.defaultBackgroundColor"
        [(ngModel)]="selectedCategoryId" (change)="onSelectCategory($event);">
        <option *ngFor="let dropdownCat of categories" [value]="dropdownCat.id" [style.color]="dropdownCat.defaultFontColor" [style.background-color]="dropdownCat.defaultBackgroundColor">
          {{dropdownCat.name}}
        </option>
      </select>
    </div>
    <div class="colors">
      <h2>Colors</h2>
      <div>
        <mat-slide-toggle [(ngModel)]="useCategoryColors" (change)="onChangeUseCategoryColors();">
          Use category colors
        </mat-slide-toggle>
      </div>
      <app-stack-display-colors [categoryName]="displayStack.categoryName" [(backgroundColor)]="displayStack.backgroundColor" [(fontColor)]="displayStack.fontColor"
        (eitherColorChange)="onChangeColor();"></app-stack-display-colors>
    </div>
  </div>
</div>
