<div *ngFor="let category of categories">
  <span *ngIf="category.stacks" class="container">
    <mat-card *ngFor="let stack of category.stacks" class="stack item" title="{{ stack.cards }}" (dblclick)="onPlay(category, stack)" (click)="onSelect(stack, $event);"
      [style.order]="stack.order" [style.background]="category.backgroundColor">
      <div class="content category">{{category.name}}</div>
      <div class="content name">{{stack.name}}</div>
    </mat-card>
  </span>
</div>

<span *ngFor="let stack of stacks">
  <span *ngIf="stack.selected">
    {{stack.categoryId}}.{{stack.name}},
  </span>
</span>
