<div class="stackDetail" *ngIf='unsavedStack'>
  <div class="action-buttons">
    <button class="action-button" (click)="goBack()" title="Back">
      <i class="action-icon material-icons md-light">arrow_back</i>
    </button>
    <button class="action-button" [disabled]="!isDirty" (click)="save(false)" title="Save">
      <i class="action-icon material-icons md-light">save</i>
    </button>
    <button class="action-button" (click)="deleteStack(); $event.stopPropagation()" title="Delete stack">
      <i class="action-icon material-icons md-light">delete</i>
    </button>
    <button class="action-button" (click)="play()" title="Play">
      <i class="action-icon material-icons md-light">play_circle_outline</i>
    </button>
  </div>

  <div class="stackContent">
    <div class="name" title="Edit stack name">
      <h2 *ngIf="!isEditingName" (click)="editName();">{{ unsavedStack.name }}</h2>
      <input *ngIf="isEditingName" [(ngModel)]="unsavedStack.name" placeholder="Name" (blur)="updateName()" (keydown.enter)="updateName();"
        (input)="isDirty=true;" appAutofocus>
    </div>

    <div class="cards">
      <ol class="cards-list">
        <li class="card" *ngFor="let card of unsavedStack.cards; let i=index; trackBy: trackByIndex">
          <input [(ngModel)]="unsavedStack.cards[i]" placeholder="card" (input)="editCard(card)">
          <span class="action-button" (click)="deleteCard(card); $event.stopPropagation()" title="Remove word">
            <i class="material-icons md-light">delete</i>
          </span>
        </li>
        <li class="card">
          <input id="newCardContent" #newCardContent (keydown.enter)="addCard(newCardContent.value);" (blur)="addCard(newCardContent.value);"
          />
          <span class="action-button" (click)="addCard(newCardContent.value);">
            <i class="material-icons md-light">add</i>
          </span>
        </li>
      </ol>
    </div>

    <div class="category">
      <h2>Category</h2>
      Current Category:
      <div [style.color]="category.fontColor" [style.backgroundColor]="category.backgroundColor">{{unsavedStack.categoryName}}</div>
      <!--
      <select name="category-dropdown" [style.color]="category.fontColor" [style.background-color]="category.backgroundColor"
      [(ngModel)]="category" (change)="selectCategory($event);">
      <option *ngFor="let category of categories" [value]="category" [style.color]="category.fontColor" [style.background-color]="category.backgroundColor">
        {{category}}
      </option>
    </select>
     -->
    </div>

    <div class="colors" style="background-color: gray; padding: 12px;">
      Background Color:
      <div>
        <input [(colorPicker)]="unsavedStack.backgroundColor" [style.background]="unsavedStack.backgroundColor" (colorPickerChange)="isDirty=true;">
      </div>
      Font Color:
      <div>
        <input [(colorPicker)]="unsavedStack.fontColor" [style.background]="unsavedStack.fontColor" (colorPickerChange)="isDirty=true;">
      </div>
      <div>Checkbox: Use category colors TODO!!</div>
    </div>
  </div>
</div>
